<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>详情</title>
  <!-- css -->
  <link rel="stylesheet" href="/static/css/bootstrap.css">
  <link rel="stylesheet" href="/static/css/common.css">
  <link rel="stylesheet" href="/static/css/detail.css">
</head>
<body>
  <div id="app" v-cloak>
    <p style="display: none" id="username">{{ userinfo.username }}</p>
    <!-- header -->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Home</a>
        <div v-if="userinfo">
          <p class="navbar-text">欢迎! <a class="color_blue">{{ userinfo.username }}</a></p>
          <p class="navbar-text"><a href="#" class="navbar-link" @click="quitLogin">退出登录</a></p>
        </div>
        <ul v-else class="nav navbar-nav navbar-right">
          <li><div><a href="/login" class="btn btn-default navbar-btn">登录</a></div></li>
          <li><a href="/register">注册账号</a></li>
        </ul>
      </div>
    </nav>
    <!-- prod_header -->
    <div class="prod_header">
      <!-- cover img -->
      <img src="{{ prodObj.avatar }}" alt="" class="cover_img">
      <div class="content">
          <div class="media">
            <div class="media-left">
              <img class="media-object" src="{{ prodObj.avatar }}" alt="...">
            </div>
            <div class="media-body">
              <h3 class="media-heading">{{ prodObj.name }}</h3>
            </div>
          </div>
      </div>
    </div>
    <!-- desc -->
    <div class="prod_desc">
      <div class="prod_item">
        <div class="label_name">名称:</div>
        <div class="desc">{{ prodObj.name }}</div>
      </div>
      <div class="prod_item">
        <div class="label_name">开发商:</div>
        <div class="desc">{{ prodObj.brand }}</div>
      </div>
      <div class="prod_item">
          <div class="label_name">价格:</div>
          <div class="desc">￥ {{ prodObj.price }}</div>
        </div>
      <div class="prod_item">
        <div class="label_name">描述:</div>
        <div class="desc">{{ prodObj.desc }}</div>
      </div>
    </div>
    <!-- 评价 -->
    <div class="prod_evaluate">
      <div class="eva_title">评论</div>
    </div>
  </div>

  <!-- js -->
  <script src="/static/js/jquery-1.9.1.min.js"></script>
  <script src="/static/layer/layer.js"></script>
  <script src="/static/js/vue.js"></script>
  <script>
    $(function() {
      var vm = new Vue({
        el: '#app',
        data: {
          userinfo: null,

        },
        methods: {
          // 获取用户信息
          getUserInfo: function() {
            var userName = document.getElementById('username').textContent
            if (userName) {
              this.userinfo = { username: userName }
            }
          },
          // 退出登录
          quitLogin: function() {
            var _this = this
            // 确认
            layer.confirm('确认要退出吗?', { icon: 0, title: '提示' }, function(index) {
              // ajax
              var load = layer.load()   // loading...
              $.get('/api/logout')
              .done(function(data) {
                console.log(data)
                layer.close(load)
                layer.alert('已退出登录', { icon: 1 })
                _this.userinfo = null
                document.getElementById('username').textContent = ''
              })
              .fail(function(err) {
                console.error(err)
                layer.close(load)
                layer.alert('退出失败', { icon: 2 })
              })
              // 关闭确认弹框
              layer.close(index)
            })
            
          }
        },
        mounted: function() {
          // 获取用户信息
          this.getUserInfo()
        }
      })
    })
  </script>
</body>
</html>