<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>详情</title>
  <!-- css -->
  <link rel="stylesheet" href="/static/css/bootstrap.css">
  <link rel="stylesheet" href="/static/css/common.css">
  <link rel="stylesheet" href="/static/css/detail.css">
</head>
<body>
  <div id="app" v-cloak>
    <div style="display: none">
      <p id="username">{{ userinfo.username }}</p>
      <p id="prodId">{{ prodObj.id }}</p>
    </div>
    <!-- header -->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Home</a>
        <div v-if="userinfo">
          <p class="navbar-text">欢迎! <a class="color_blue">{{ userinfo.username }}</a></p>
          <p class="navbar-text"><a href="#" class="navbar-link" @click="quitLogin">退出登录</a></p>
        </div>
        <ul v-else class="nav navbar-nav navbar-right">
          <li><div><a href="/login" class="btn btn-default navbar-btn">登录</a></div></li>
          <li><a href="/register">注册账号</a></li>
        </ul>
      </div>
    </nav>
    <!-- prod_header -->
    <div class="prod_header">
      <!-- cover img -->
      <img src="{{ prodObj.avatar }}" alt="" class="cover_img">
      <div class="content">
          <div class="media">
            <div class="media-left">
              <img class="media-object" src="{{ prodObj.avatar }}" alt="...">
            </div>
            <div class="media-body">
              <h3 class="media-heading">{{ prodObj.name }}</h3>
            </div>
          </div>
      </div>
    </div>
    <!-- desc -->
    <div class="prod_desc">
      <div class="prod_item">
        <div class="label_name">名称:</div>
        <div class="desc">{{ prodObj.name }}</div>
      </div>
      <div class="prod_item">
        <div class="label_name">开发商:</div>
        <div class="desc">{{ prodObj.brand }}</div>
      </div>
      <div class="prod_item">
          <div class="label_name">价格:</div>
          <div class="desc">￥: {{ prodObj.price }}</div>
        </div>
      <div class="prod_item">
        <div class="label_name">描述:</div>
        <div class="desc">{{ prodObj.desc }}</div>
      </div>
    </div>
    <!-- 评价 -->
    <div class="prod_evaluate">
      <div class="eva_title">评论</div>
      <!-- 发表评论 -->
      <div class="eva_edit_wrapper">
        <button v-show="!showEdit" type="button" class="btn btn-primary" @click="showEditInput">
          <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
          发表评论
        </button>
        <!-- edit -->
        <div v-show="showEdit" class="eva_edit">
          <div class="form-group">
            <label for="">标题:<span class="verify">*</span></label>
            <input type="text" class="form-control" maxlength="50" placeholder="请输入标题, 不得多于50字" v-model.trim='evaTitle'>
          </div>
          <div class="form-group">
            <label for="">内容:<span class="verify">*</span></label>
            <textarea class="form-control" rows="5" maxlength="200" placeholder="请输入内容, 不得多于200字" v-model.trim='evaContent'></textarea>
          </div>
          <!-- btn -->
          <button type="button" class="btn btn-info" style="margin-right: 10px;" @click="handleComment">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            发布
          </button>
          <button type="button" class="btn btn-default" @click="cancelEditInput">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            取消
          </button>
        </div>
      </div>
      <!-- 评论列表 -->
      <div>
        <div class="eva_title">评论列表</div>
        <!-- list -->
        <ul v-if="commentList.length" class="eva_list">
          <li class="eva_item" v-for="(item, index) in commentList" :key="item.id">
            <div class="media">
              <div class="media-left">
                <a href="#">
                  <img class="media-object" src="/static/img/avatar.png" alt="..">
                </a>
              </div>
              <div class="media-body">
                <h4 class="media-heading" v-text="item.title"></h4>
                <p class="p1"><a href="#" v-text="item.username"></a> 发布于<span v-text="formatTime(item.createdAt)"></span></p>
                <p class="p2" v-text="item.content"></p>
                <!-- 二级回复 -->
                <ul v-show="item.replyArr.length" class="child_ul">
                  <li class="eva_item" v-for="(reply, i) in item.replyArr" :key="reply.id">
                    <div class="media">
                      <div class="media-left">
                        <a href="#">
                          <img class="media-object" src="/static/img/avatar.png" alt="..">
                        </a>
                      </div>
                      <div class="media-body">
                        <a href="#" class="reply_user" v-text="reply.username"></a>
                        <p class="p1">回复于<span v-text="formatTime(reply.createdAt)"></span></p>
                        <p class="p2" v-text="reply.content"></p>
                      </div>
                    </div>
                  </li>
                </ul>
                <div class="reply">
                  <div v-if="showReply === index">
                    <!-- input -->
                    <div class="form-group">
                      <textarea class="form-control" rows="3" maxlength="100" placeholder="回复内容不得多于100字" v-model.trim='replyContent'></textarea>
                    </div>
                    <!-- btn -->
                    <button type="button" class="btn btn-info btn-sm" style="margin-right: 10px;" @click="handleReply(item.id)">
                      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                      回复
                    </button>
                    <button type="button" class="btn btn-default btn-sm" @click="cancelReply">
                      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                      取消
                    </button>  
                  </div>
                  <button v-else type="button" class="btn btn-default btn-sm active" @click="showReplyInput(index)">
                    <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                    回复
                  </button>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <!-- tips -->
        <p v-else class="text-center color_blue normal">-----暂无评价-----</p>
      </div>
    </div>
  </div>

  <!-- js -->
  <script src="/static/js/jquery-1.9.1.min.js"></script>
  <script src="/static/layer/layer.js"></script>
  <script src="/static/js/vue.js"></script>
  <script>
    $(function() {
      var vm = new Vue({
        el: '#app',
        data: {
          userinfo: null,
          showEdit: false,
          showReply: -1,
          evaTitle: '', // 评论标题
          evaContent: '',  // 评论内容
          replyContent: '',   // 回复内容
          commentList: []
        },
        methods: {
          // 获取用户信息
          getUserInfo: function() {
            var userName = document.getElementById('username').textContent
            if (userName) {
              this.userinfo = { username: userName }
            }
          },
          // 退出登录
          quitLogin: function() {
            var _this = this
            // 确认
            layer.confirm('确认要退出吗?', { icon: 0, title: '提示' }, function(index) {
              // ajax
              var load = layer.load()   // loading...
              $.get('/api/logout')
              .done(function(data) {
                console.log(data)
                layer.close(load)
                layer.alert('已退出登录', { icon: 1 })
                _this.userinfo = null
                document.getElementById('username').textContent = ''
              })
              .fail(function(err) {
                console.error(err)
                layer.close(load)
                layer.alert('退出失败', { icon: 2 })
              })
              // 关闭确认弹框
              layer.close(index)
            })
          },
          // 显示评论编辑框
          showEditInput: function() {
            this.showEdit = true
          },
          // 取消评论编辑
          cancelEditInput: function() {
            this.showEdit = false
            this.evaTitle = ''
            this.evaContent = ''
          },
          // 发表评论
          handleComment: function() {
            // 验证input是否为空
            if (this.evaTitle === '' || this.evaContent === '') {
              layer.msg('标题和内容不能为空!', { icon: 2 })
              return
            }
            var _this = this
            // ajax
            var load = layer.load()
            $.post('/api/comment', {
              pid: document.getElementById('prodId').textContent,
              title: this.evaTitle,
              content: this.evaContent
            })
            .done(function(data) {
              layer.close(load)
              console.log(data)
              layer.msg('发布成功!', { icon: 1 })
              _this.cancelEditInput()
              // 重新加载评论列表
              _this.getCommentList()
            })
            .fail(function(err) {
              layer.close(load)
              console.error(err)
              layer.alert(err.message || JSON.parse(err.responseText).message, { icon: 2 })
            })
          },
          // 显示回复编辑框
          showReplyInput: function(index) {
            this.showReply = index
            this.replyContent = ''
          },
          // 取消回复编辑
          cancelReply: function() {
            this.showReply = -1
            this.replyContent = ''
          },
          // 确认回复
          handleReply: function(cid) {
            if (this.replyContent === '') {
              layer.msg('回复内容不能为空!', { icon: 2 })
              return
            }
            var _this = this
            // ajax
            var load = layer.load()
            $.post('/api/reply', {
              cid: cid,
              content: this.replyContent
            })
            .done(function(data) {
              layer.close(load)
              console.log(data)
              layer.msg('回复成功!', { icon: 1 })
            })
            .fail(function(err) {
              layer.close(load)
              console.error(err)
              layer.alert(err.message || JSON.parse(err.responseText).message, { icon: 2 })
            })
          },
          // 获取评价列表信息
          getCommentList: function() {
            var _this = this
            var pid = document.getElementById('prodId').textContent
            // ajax
            var load = layer.load()
            $.get('/api/getCommentList?pid=' + pid)
            .done(function(data) {
              layer.close(load)
              console.log(data)
              _this.commentList = data
            })
            .fail(function(err) {
              layer.close(load)
              console.error(err)
              layer.alert(err.message || JSON.parse(err.responseText).message, { icon: 2 })
            })
          },
          // 时间格式化
          formatTime: function(createdTime) {
            var now = Date.now()
            var time = (now - createdTime) / 1000 / 60
            time = Math.round(time)
            if (time < 1) {
              return '刚刚'
            }
            return time + '分钟前'
          }
        },
        mounted: function() {
          // 获取用户信息
          this.getUserInfo()
          // 获取评价列表信息
          this.getCommentList()
        }
      })
    })
  </script>
</body>
</html>