<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>index</title>
  <!-- css -->
  <link rel="stylesheet" href="/static/css/bootstrap.css">
  <link rel="stylesheet" href="/static/css/common.css">
</head>
<body>
  <div id="app" v-cloak>
    <!-- header -->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Home</a>
        <p class="navbar-text">欢迎! allen2001</p>
        <ul class="nav navbar-nav navbar-right">
          <li><button type="button" class="btn btn-default navbar-btn">登录</button></li>
          <li><a href="#">注册账号</a></li>
        </ul>
      </div>
    </nav>
    <div class="jumbotron">
      <h2>搜索</h2>
      <div class="row">
        <!-- search -->
        <div class="col-sm-8">
          <div class="input-group input-group-lg">
            <input type="text" class="form-control" placeholder="请输入关键字" v-model="searchInput" @keyup.enter="loadListData()">
            <span class="input-group-addon" @click="loadListData()">查询</span>
          </div>
        </div>
        <!-- add -->
        <div class="col-sm-4 text-right">
          <a class="btn btn-primary btn-lg" href="#" role="button" @click="showAddProdForm">新增商品</a>
        </div>
      </div>
    </div>
    <!-- list -->
    <table class="table">
      <thead>
        <tr>
          <th style="width: 100px;">序号</th>
          <th style="width: 120px;">缩略图</th>
          <th>名称</th>
          <th>品牌</th>
          <th>价格</th>
          <th style="width: 200px;">编辑</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(item, index) in productList" :key="item.id">
          <td v-text="getItemIndex(index)"></td>
          <td>
            <img class="media-object" :src="item.avatar ? item.avatar : defaultAvatarImg" alt="..">
          </td>
          <td>
            <a :href="'/detail/' + item.id" v-text="item.name"></a>
          </td>
          <td v-text="item.brand"></td>
          <td>￥ <span v-text="item.price" class="color_price"></span></td>
          <td>
            <div>
              <button type="button" class="btn btn-primary btn-sm" @click="showAddProdFormUpdate(item.id)">修改</button>
              <button type="button" class="btn btn-danger btn-sm" @click="showRemoveConfirm(item.id)">删除</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- 无数据的提示 -->
    <p v-if="!productList.length" class="list_tip">--暂无数据!--</p>
    <!-- 分页 -->
    <div v-else class="pager_wrapper">
      <nav class="text-center" aria-label="navigation">
        <ul class="pagination">
          <li :class="{ disabled: pageIndex == 1 }">
            <a href="#" @click="goToPage(pageIndex - 1)">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li v-for="item in pageNumber" :key="'page' + item" :class="{ active: pageIndex == item }">
            <a href="#" @click="goToPage(item)" v-text="item"></a>
          </li>
          <li :class="{ disabled: pageIndex == pageNumber }">
            <a href="#" @click="goToPage(pageIndex + 1)">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>

    <!-- layer -->
    <div v-show="showAddProd" class="layer_mask" style="display: none;">
      <div class="add_prod_layer panel panel-default" :class="{ show_animate: showAddProd }">
        <!-- header -->
        <div class="panel-heading"><span v-text="layerTitle"></span> <span class="icon_close glyphicon glyphicon-remove" aria-hidden="true" @click="closeLayer"></span></div>
        <div class="panel-body">
          <div class="form-group">
            <label for="">商品名称<span class="verify">*</span></label>
            <input type="test" class="form-control" placeholder="请输入商品名称" v-model.trim='addProdName'>
          </div>
          <div class="form-group">
            <label for="">品牌名称<span class="verify">*</span></label>
            <input type="test" class="form-control" placeholder="请输入品牌名称" v-model.trim='addProdBrand'>
          </div>
          <div class="form-group">
            <label for="">商品价格<span class="verify">*</span></label>
            <input type="test" class="form-control" placeholder="请输入商品价格" v-model.trim='addProdPrice'>
          </div>
          <div class="form-group">
            <label for="">商品描述</label>
            <textarea class="form-control" placeholder="请输入商品描述" rows="3" v-model.trim='addProdDesc'></textarea>
          </div>
          <!-- 上传头像 -->
          <div class="form-group">
            <label for="" style="display: block">上传缩略图</label>
            <div class="avatar_wrapper">
              <img :src="uploadImg" alt="" class="avatar_img">
              <input id="uploadInput" type="file" accept="image/*" @change="getFileVal">
            </div>
          </div>
          <!-- submit -->
          <button v-if="showUpdate" type="button" class="btn btn-primary" @click="updateSubmit">确认修改</button>
          <button v-else type="button" class="btn btn-primary" @click="addSubmit">确认新增</button>
        </div>
      </div>
    </div>
  </div>

  <!-- js -->
  <script src="/static/js/jquery-1.9.1.min.js"></script>
  <script src="/static/layer/layer.js"></script>
  <script src="/static/js/vue.js"></script>
  <script>
    $(function() {
      // vue
      var vm = new Vue({
        el: "#app",
        data: {
          productList: [],  // 商品列表
          prodId: null,     // 商品id
          layerTitle: '',
          showAddProd: false,
          showUpdate: false,  // 判断是否为修改商品
          addProdName: '',  // 商品名称
          addProdBrand: '', // 品牌名称
          addProdPrice: '',  // 商品价格
          addProdDesc: '',  // 商品描述
          prodAvatarImg: '', // 用户已上传的头像图片地址
          defaultAvatarImg: '/static/img/avatar.png', // 默认缩略图
          totalNum: null, // 数据总量
          pageIndex: 1, // 当前分页
          searchInput: '' // 搜索关键字
        },
        computed: {
          // 分页总的页码数
          pageNumber: function() {
            var pageLimit = 10
            var num = Math.ceil(this.totalNum / pageLimit)
            return num
          },
          // 上传图片
          uploadImg: function() {
            if (this.prodAvatarImg) {
              return this.prodAvatarImg
            }
            return '/static/img/upload_avatar.png'
          }
        },
        methods: {
          // 刷新列表数据
          loadListData: function(page) {
            // 分页
            var page = page || 1
            // loading
            var load = layer.load()
            // ajax
            var _this = this
            $.get('/api/products?page=' + page + '&keyword=' + this.searchInput)
            .done(function(data) {
              console.log(data)
              layer.close(load)
              // 渲染列表和分页
              _this.productList = data.prodList
              _this.totalNum = data.total
              _this.pageIndex = page
            })
            .fail(function(err) {
              console.error(err)
              layer.close(load)
              layer.alert(err.message, { icon: 2 })
            })
          },
          // 分页跳转
          goToPage: function(page) {
            if (page < 1 || page > this.pageNumber || page == this.pageIndex) {
              return
            }
            this.loadListData(page)
          },
          // 获取商品序号
          getItemIndex: function(index) {
            index = index + 1
            return (this.pageIndex - 1) * 10 + index
          },
          // 新增商品layer
          showAddProdForm: function() {
            this.showUpdate = false
            this.layerTitle = '新增商品'
            this.showAddProd = true
          },
          // 修改商品layer
          showAddProdFormUpdate: function(id) {
            this.prodId = id
            this.showUpdate = true
            this.layerTitle = '修改商品'
            this.showAddProd = true
            // 查询商品
            // loading
            var load = layer.load()
            // ajax
            var _this = this
            $.get('/api/searchProd?id=' + id)
            .done(function(data) {
              console.log(data)
              layer.close(load)
              // 回显商品数据
              _this.addProdName = data.name
              _this.addProdBrand = data.brand
              _this.addProdPrice = data.price
              _this.addProdDesc = data.desc
              _this.prodAvatarImg = data.avatar
            })
            .fail(function(err) {
              console.error(err)
              layer.close(load)
              layer.alert(err.message, { icon: 2 })
            })
          },
          // 关闭商品弹框
          closeLayer: function() {
            this.showAddProd = false
            this.layerTitle = ''
            this.prodId = null
            this.showUpdate = false
            // 清空弹框中input中的值
            this.clearInputVal()
          },
          // 确认添加
          addSubmit: function() {
            // 提交前先验证
            var state = this.verifyForm()
            if (!state) { // 验证未通过
              return
            }
            // loading
            var load = layer.load()
            // ajax
            var _this = this
            $.post('/api/addProd', {
              name: this.addProdName,
              brand: this.addProdBrand,
              price: this.addProdPrice,
              desc: this.addProdDesc,
              avatar: this.prodAvatarImg
            }).done(function(data) {
              console.log(data)
              layer.close(load)
              _this.closeLayer()
              // 重新加载列表数据
              _this.loadListData()
            }).fail(function(err) {
              console.error(err)
              layer.close(load)
              layer.alert(err.message || '服务器错误', { icon: 2 })
            })
          },
          // 确认修改
          updateSubmit: function() {
            // 提交前先验证
            var state = this.verifyForm()
            if (!state) { // 验证未通过
              return
            }
            // loading
            var load = layer.load()
            // ajax
            var _this = this
            $.post('/api/modifyProd/' + this.prodId, {
              name: this.addProdName,
              brand: this.addProdBrand,
              price: this.addProdPrice,
              desc: this.addProdDesc,
              avatar: this.prodAvatarImg
            })
            .done(function(data) {
              layer.close(load)
              _this.closeLayer()
              layer.msg('商品: ' + data.name + ' 修改成功')
              // 刷新列表数据
              _this.loadListData()
            })
            .fail(function(err) {
              layer.close(load)
              layer.alert(err.message, { icon: 2 })
            })
          },
          // 验证表单字段
          verifyForm: function() {
            // 提交前先验证
            if (!this.addProdName) {
              layer.msg('商品名不能为空')
              return false
            }
            if (!this.addProdBrand) {
              layer.msg('品牌名称不能为空')
              return false
            }
            if (!this.addProdPrice) {
              layer.msg('商品价格不能为空')
              return false
            }
            return true
          },
          // 删除商品layer
          showRemoveConfirm: function(id) {
            console.log('商品id: ' + id)
            var _this = this
            layer.confirm('请确认要删除吗?', { title: '删除商品', icon: 0 }, function(index) {
              // loading
              var load = layer.load()
              // ajax
              $.post('/api/removeProd/' + id)
              .done(function(data) {
                console.log(data)
                layer.close(load)
                layer.close(index)
                layer.msg('商品: ' + data.name + ' 删除成功')
                // 重新加载列表数据
                _this.loadListData()
              })
              .fail(function(err) {
                console.error(err)
                layer.close(load)
                layer.alert(err.message, { icon: 2 })
              })
            })
          },
          // 清空弹框中input中的值
          clearInputVal: function() {
            this.addProdName = ''
            this.addProdBrand = ''
            this.addProdPrice = ''
            this.addProdDesc = ''
            this.prodAvatarImg = ''
            document.querySelector('#uploadInput').value = ''
          },
          // 上传头像图片到静态资源
          getFileVal: function(ev) {
            console.log(ev.target.files[0])
            var file = ev.target.files[0]
            if (file) {
              var _this = this
              var formdata = new FormData()
              formdata.append('filename', file)
              $.ajax({
                type: 'POST',
                url: '/api/upload',
                data: formdata,
                contentType: false,
                processData: false
              })
              .done(function(data) {
                console.log(data)
                _this.prodAvatarImg = data.path + '?t=' + Date.now()
              })
              .fail(function(err) {
                console.log(err)
                layer.alert('上传文件失败!', { icon: 2 })
                _this.prodAvatarImg = ''
                document.querySelector('#uploadInput').value = ''
              })
            }
          }
        },
        watch: {
          // addProdName: function(val) {
          //   console.log(val)
          // }
        },
        mounted: function() {
          // 加载列表数据
          this.loadListData()
        }
      })
      
    })
  </script>
</body>
</html>