html, body {
  height: 100%;
}

.form_wrapper {
  width: 1200px;
  margin: 0 auto;
}

.verify {
  color: #d7201c;
}

.color_price {
  color: #337ab7;
  font-weight: bold;
  font-size: 18px;
}

.layer_mask {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 999;
  background: rgba(0, 0, 0, .3);
}

.add_prod_layer {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 330px;
}

.show_animate {
  animation: show .3s;
  -webkit-animation: show .3s;
}

@keyframes show {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }
  80% {
    transform: translate(-50%, -50%) scale(1.2);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
@-webkit-keyframes show {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }
  80% {
    transform: translate(-50%, -50%) scale(1.2);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

.icon_close {
  cursor: pointer;
  float: right;
  top: 3px;
}

.list_tip {
  height: 40px;
  line-height: 40px;
  color: #337ab7;
  text-align: center;
  font-size: 18px;
}

.pager_wrapper {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}